body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.cart {
    float: right;
}

main {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
}

.product h2 {
    font-size: 1.5em;
}

.product p {
    font-size: 1.2em;
}

button {
    background: #5cb85c;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #4cae4c;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.responsive-image {
    max-width: 100%;
    height: 200px;

}

.responsive-image img{
    width: 100%;
    height: 200px;
}

.grid-container{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 10px;
    transition: transform 0.5s;

}
.grid-conatiner img{
    width: 100%;
    height: 200px;
}