*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
    
    .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    .col-4 img{
        width: 100%;
        height: 200px;
    }
    .title{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: #555;
        font-weight: bold;
    }
    
    h4{
        color: #555;
        font-weight: normal;
    }
    .col-4 p{
        font-size: 14px;
    }
    .col-4:hover{
        transform:translateY(-15px);
    }
    
    .rating .fa-star,.fa-star-half-stroke{
        color: #d1a046;
    }
    
    .small-container{
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
        background: radial-gradient(#fae1b3, #cccbcb);

    }

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }