body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 20px;
    gap: 15px;
}

.form-container {
    flex: 1;
    min-width: 300px;
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-responsive-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.contact-h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    resize: vertical; /* Allow vertical resizing */
}

.contact-button {
    width: 100%;
    padding: 10px;
    color: white;
    background: #ceb07a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.contact-button:hover {
    background: #d1a046;
    color: black; }

.response-message {
    margin-top: 15px;
    text-align: center;
    color: green;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }

    .form-container, .image-container {
        min-width: 100%;
        margin-bottom: 20px;
    }
}
