*{
    padding:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    }
    body{
        font-family: 'Poppins', sans-serif;
    }
    
    .header {
        background: radial-gradient(#fae1b3, #cccbcb);
        height: 100vh;
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        
    }
    
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        position: relative; /* Added for positioning */
    }
    
    .nav-links {
        display: flex;
        list-style-type: none;
    }
    
    .nav-links li {
        margin-right: 20px;
    }
    
    a {
        text-decoration: none;
        color: #555;
        text-transform: uppercase;
    }
    
    .toggle-button {
        display: none; /* Hidden by default */
        flex-direction: column;
        background: transparent;
        border: none;
        cursor: pointer;
        position: absolute; /* Positioning for top right */
        top: 20px; /* Align with the navbar */
        right: 25px; /* Align with the right edge */
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background: #555;
        margin: 4px 0;
    }
    .categories-col{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 10px;
        transition: transform 0.5s;
    
    }
    .categories-col img{
        width: 100%;
        height: 200px;
    }
    .title{
        text-align: center;
        margin: 40px 0px;
        position: relative;
        line-height: 60px;
        color: #555;
        font-weight: bold;
    }
    
    .categories-h4{
        color: #555;
        font-weight: normal;
    }
    .categories-col p{
        font-size: 14px;
    }
    .categories-col:hover{
        transform:translateY(-15px);
    }
    
    .rating .fa-star,.fa-star-half-stroke{
        color: #d1a046;
    }
    
    /* .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    } */
    
    .categories-row{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        padding: 0 60px;
    }
    
    a {
        text-decoration: none;
        color: #555;
        text-transform: uppercase;
    }
    
    .categories-h1{
        text-align: center;
        margin: 45px 0;
    }
    
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 70px;
        padding: 0 40px;
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img {
        max-width: 100%;
        padding: 50px 0;
        max-height: 450px;
    }
    
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    
    .btn {
        display: inline-block;
        background: #ceb07a;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 15px;
        transition: 0.5s;
    }
    
    .btn:hover {
        background: #d1a046;
        color: black;
        font-weight: bold;
    }

    .categories{
        margin: 70px 0;
        
    }
    .col-3{
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    .col-3 img{
        width: 100%;
    }
    
    .small-container{
        max-width: 1080px;
        margin: auto;
       padding: 0 0px;
    }

    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        cursor: pointer;
    }

    .categories-h1{
        text-align: center;
        margin-bottom: 35px;
    }


    
    .featured-container{
        width: 100%;
        margin: auto;
        background: radial-gradient(#fae1b3, #cccbcb);

    }

.featured-col{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 10px;
    transition: transform 0.5s;

}
.featured-col img{
    width: 100%;
    height: 200px;
}
.featured-title{
    text-align: center;
    margin: 40px 0px;
    position: relative;
    line-height: 60px;
    color: #555;
    font-weight: bold;
}

.featured-h4{
    color: #555;
    font-weight: normal;
}
.featured-col p{
    font-size: 14px;
}
.featured-col:hover{
    transform:translateY(-15px);
}

.featured-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 0 60px;
}

a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
}

.featured-h1{
    text-align: center;
    margin: 45px 0;
}

    .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    .col-4 img{
        width: 100%;
        height: 200px;
    }
  
    
    h4{
        color: #555;
        font-weight: normal;
    }
    .col-4 p{
        font-size: 14px;
    }
    .col-4:hover{
        transform:translateY(-15px);
    }
    
    .rating .fa-star,.fa-star-half-stroke{
        color: #d1a046;
    }
    
    .small-container1{
        padding: 0 40px;
        background: radial-gradient(#fae1b3, #cccbcb);
        margin-bottom: 40px 0;
    }

    .row1{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        cursor: pointer;
    }

    .col-5{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 10px;
        transition: transform 0.5s;
    
    }
    .col-5 img{
        width: 100%;
        height: 200px;
    }
    .title{
        text-align: center;
        margin: 40px 0px;
        position: relative;
        line-height: 60px;
        color: #555;
        font-weight: bold;
    }
    
    h4{
        color: #555;
        font-weight: normal;
    }
    .col-5 p{
        font-size: 14px;
    }
    .col-5:hover{
        transform:translateY(-15px);
    }
    
    .rating .fa-star,.fa-star-half-stroke{
        color: #d1a046;
    }
    
 
    .row3{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
        gap: 10px;
        padding: 0 60px;
    }

    .offer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 50px 0;
        background: radial-gradient(#fae1b3, #cccbcb);    }
    
    .responsive-image {
        max-width: 100%;
        flex: 1;
        margin-right: 20px;
        padding: 40px;
        height: 400px;

    }
  
    .offer-text-content {
        flex: 2;
    }
    
    .offer-h1 {
        margin: 0 0 10px 0;
    }
    
    .offer-p {
        margin: 0 0 10px 0;
    }

    .contact-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        gap: 15px;
        padding: 20px;
    }
    
    .form-container {
        flex: 1;
        min-width: 300px;
        padding: 40px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    .image-container {
        flex: 1;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .contact-responsive-image {
        max-width: 100%;
        height: 500px;
        border-radius: 5px;
    }
    
    .contact-h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input, textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }
    
    textarea {
        resize: vertical; /* Allow vertical resizing */
    }
    
    .contact-button {
        width: 100%;
        padding: 10px;
        color: white;
        background: #ceb07a;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 16px;
    }
    
    .contact-button:hover {
        background: #d1a046;
        color: black;    }
    
    .response-message {
        margin-top: 15px;
        text-align: center;
        color: green;
    }
    

    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        padding: 80px 40px;
    
    }
    
    .footer-content {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .footer-content h3 {
        margin: 0;
    }
    
    .footer-content p {
        max-width: 600px;
        margin: 10px auto;
        text-align: left;
    }
    
    .social-media {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .social-icon {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        transition: color 0.3s;
    }
    
    .social-icon:hover {
        color: #00aaff;
    }
    
    .footer-bottom {
        border-top: 1px solid #444;
        padding-top: 10px;
    }
    
  

    
    /* Responsive styles */
    @media (max-width: 768px) {
        .nav-links {
            display: none; /* Hide links by default */
            flex-direction: column;
            width: 100%;
            background: radial-gradient(#f5dcae, #cccbcb); /* Background color for dropdown */
            position: absolute;
            top: 80px; /* Adjust based on header height */
            right: 0;
        }
    
        .nav-links.active {
            display: flex;
            padding: 25px;
        margin-top: 12px; /* Show links when active */
        }
    
        .toggle-button {
            display: flex; /* Show toggle button */
        }
    
        .navbar {
            flex-direction: column; /* Stack elements on small screens */
            align-items: flex-start; /* Align items to the left */
        }
        .container{
            padding: 0px;
        }

        .row{
            padding: 0 0px;
        }

        .offer-container {
            flex-direction: column;
            align-items: center;
        }
        
        .responsive-image {
            margin-right: 0;
            margin-bottom: 20px;
        }

        .footer-content h3 {
            font-size: 1.5em;
        }
    
        .footer-content p {
            font-size: 0.9em;
            display: flex;
        }
    
        .social-icon {
            margin: 0 5px;
            font-size: 0.9em;
        }
    }
    
    

    @media (max-width: 321px) {

        .row{
            padding: 0 20px;
        }

        .header {
            height: auto;
        }

        .row3{
      
            padding: 0 0px;
        }
        .offer-container {
            flex-direction: column;
            align-items: center;
            padding: 0 15px;
            margin-top: 20px;
        }
        
        .responsive-image {
            margin-right: 0;
            margin-bottom: 20px; padding: 5px;
            height: 300px;
        }

        .form-container {
            padding: 10px;
        }

        .contact-responsive-image {
            height: 250px;

        }
        .contact-container {
            padding: 5px 0;
        }

        
.categories-row{
  
    padding: 0 0px;
}

.categories-row{
    grid-template-columns: repeat(1,1fr);
}


.featured-row{
  
    padding: 0 0px;
}

.featured-row{
    grid-template-columns: repeat(1,1fr);
}
       
    }
    

    @media (max-width: 426px) {

        .categories-row{
            grid-template-columns: repeat(1,1fr);
        }
        


        .featured-row{
            grid-template-columns: repeat(1,1fr);
        }
    }

    
    
  